<?xml version='1.0' encoding='utf-8'?>
<widget id="com.navin.coin" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Navin Electronics</name>
    <description>
        Navin Electroncis is a leading providers of electronics in surat city
    </description>
    <author email="support@aantu.asia" href="http://navin.co.in">
        omcom Team
    </author>
    <content src="index.html" />
	<icon src="icon.png" />
    <plugin name="cordova-plugin-whitelist" version="1" />
	<preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
